<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
      Our note-taking app provides a seamless platform for capturing and
      organizing your thoughts, ideas, and tasks. With a user-friendly
      interface, jot down notes effortlessly, whether you're in a meeting,
      attending a lecture, or brainstorming ideas
    </p>
  </div>
</section>