<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Notes App!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies</p>
  <hr class="my-4" />
  <p>Unlock the power of productivity with our intuitive note-taking app.
    Whether you're a student, professional, or creative thinker, NOTES is here
    to streamline your note-taking experience.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>