<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script type="text/javascript" src="/javascripts/contact.js"></script>

</head>
 <section class="sec-4">

  <h1>DROP A MESSAGE</h1>

<div class="container">
     <h5 onmouseover="formOver(this)" onmouseout="formOut(this)">CONTACT ME</h5>
     <div class="contact-form">
       <div>
        <i class="fas fa-map-marker"></i>One Georgian Dr., Barrie ON L4M 3X9<br>
         <i class="fas fa-phone"></i>1 (437) 988-4862<br>
        <a  href = "mail: simarpreetk565@gmail.com"><i class="fas fa-envelope "></i> Email Id</a>
      
     </div>
   <!--this div contains the contact form required to be filled by the buyer-->
    <div>
      <form class="contact">
        <input type="text" name="name" placeholder="Enter Full Name" id="fullName">
        <input type="text" name="email" placeholder="Enter email address" id="email">
        <textarea id="question" name="message" rows="5" placeholder="Enter Your Feedback" required></textarea>
        <button onclick="changeText(this)" class="submit">Send</button>
      </form>
    </div>
     </div>
</div>

  </section>

   