   <head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
   <section class="home-section">

<div class="sec-1" id="left">
<img src="/images/image-3.jpg" alt="Profile" id="profile">
</div>

<div class="sec-2" id="right" >
  
  <p>Hello,</p>
  
  <h2>I am Simarpreet Kaur</h2>

  <p>Computer Programming student at Georgian College</p>

        <a id="about-btn" href="/about">
            <button >About Me</button>
        </a>
        <a id="email-btn" href = "mailto: twishachachra@gmail.com">
            <button >EMAIL</button>
        </a>

    </section>

