<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
   
    <link rel='stylesheet' href='/stylesheets/styles.css' /> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">



  </head>
  <body>
    
   <!--Navbar-->

   <nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a style="color:white" class="navbar-brand" href="/">Portfolio</a>
    <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a style="color:white" class="nav-link active" aria-current="page" href="/about">About</a>
        </li>
        <li class="nav-item">
          <a style="color:white" class="nav-link" href="/project">Projects</a>
        </li>
        <li class="nav-item">
          <a style="color:white" class="nav-link" href="/contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>



   {{{body}}}

<!--footer-->
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">

    <section class="d-flex justify-content-between p-4" style="background-color: #6351ce">

    </section>
    
    <section class="">
      <div class="container text-center text-md-start mt-5">
      
        <div class="row mt-3">
        
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          
            <h6 class="text-uppercase fw-bold">About Me</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              A collection of my school projects, skills and courses.
            </p>
          </div>
          
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
         
            <h6 class="text-uppercase fw-bold">Familiar Languages</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
         
             <p
               class="text-white">JavaScript
            </p>
            <p
               class="text-white">HTML, CSS
            </p>
            <p
               class="text-white">ASP.NET using C#
            </p>
            <p
               class="text-white">Java
            </p>
            <p
               class="text-white">SQL
            </p>
          </div>
          
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Georgian College</p>
            <p><i class="fas fa-envelope mr-3"></i> twishachachra@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> 1 (249) 877-9488</p>
          </div>

    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold">Linkedin and Github Links</h6>
            
             <a href="https://www.linkedin.com/in/twisha-chachra-a29a85216/" class="text-white me-4">
             <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/TwishaChachra?tab=repositories" class="text-white me-4">
            <i class="fab fa-github"></i>
            </a>
      </div>

        </div>
      
      </div>
    </section>
   
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    
     © 2022 - Twisha Chachra 
        
    </div>

  </footer>


  </body>
</html>

<!--footer tempelate from - https://mdbootstrap.com/snippets/standard/mdbootstrap/2885008?view=side -->