<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
     <script type="text/javascript" src="/javascripts/design.js"></script>
</head>
    

 <section class="sec-3">
  <section class="slider-container">
          <div class="slideshow-container">
            <div class="designSlides" style="display: block">
              <img id="img1" src="/images/Showsatron.jpeg" alt="Showsatron-ASP.NET">
            </div>
            <div class="designSlides">
              <img id="img2" src="/images/portfolio.jpeg" alt="Portfolio">
            </div>
            <div class="designSlides">
              <img id="img3" src="/images/image-12.png" alt="API-Java">
            </div>
             <div class="designSlides">
              <img id="img4" src="/images/job-trackyee.png" alt="Job Tracking Angular">
            </div>
            
            <!--the two buttons forward and backward-->
            <a class="backward" onclick="nextSlides(-1,0)">&#10094;</a>
            <a class="forward" onclick="nextSlides(1,0)">&#10095;</a>
          </div>
        </section> 
<section class="card-sec ">


<div class="card col-3 m-3 bg-dark" style="width: 18rem;display:inline-block">
  <img src="/images/portfolio.jpeg" class="card-img-top" alt="Portfolio">
  <div class="card-body">
    <h5 class="card-title">Portfolio</h5>
    <p class="card-text">Github link to my ePortfolio website - Developed using Node.js,HTML,CSS,express.</p>
    <a href="https://github.com/simarpreetkaur7773/COMP2068JSFrameworks/tree/main/ASSIGNMEENT01" class="btn btn-primary">ePortfolio</a>
  </div>
</div>

<div class="card col-3 m-3 bg-dark" style="width: 18rem;display:inline-block">
  <img src="/images/image-10.jpeg" class="card-img-top" alt="API JAVA">
  <div class="card-body">
    <h5 class="card-title">Java-API</h5>
    <p class="card-text">Github link to my Profit count project.</p>
    <a href="https://github.com/simarpreetkaur7773/ProfitCounts" class="btn btn-primary">API Website</a>
  </div>
</div>



</section>

</section> 
